body {
  margin: 0;
  padding: 0;
  background-color: #f3e3d3;
}


.nav-pills .nav-link.active{
    background-color: #8e5431;
}
.nav-link:focus, .nav-link:hover{
    color: #9b6b43;
}

.nav-link{
    color: #c98860;
}

header{
    background-color: bisque;
    border-radius: 0px 0px 16px 16px;
}

section{
    background-color: #f3e3d3;
}

.hero{
   background-color: #f3e3d3;
}

.cardcolor{
    background-color: bisque;
}


.redondo{
    border-radius: 50px;
}

.card {
    
  border-radius: 10px;
}


.card img {
  width: 100%;
  height: 270px;           
  object-fit: scale-down;
  transition: 0.3s ease-in-out;
}

.card img:hover{
    transform: scale(1.1);
}

